body { 
    background-color: #fff;
    color: #444;
    font-family: sans-serif
}

h1 {
    color: #0076b2;
    text-rendering: optimizeLegibility;
}

button, input, select, textarea
{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

input
{
  font-size: 1em;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}


#myCanvas {
    float: right;
    background-color: #000000;
}

.incorrectMsg {
    color: red;
}

.correctMsg {
    color: green;
}